.center {
    text-align: center
}

.de {
    position: relative;
    display: inline-block;
}

/* Tooltip text */

.de .detext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 2px;
    position: absolute;
    z-index: 1;
}

.de:hover .detext {
    visibility: visible;
    animation: hover 0.2s
}

@keyframes hover {
    10% {
        opacity: 0.1;
    }
    20% {
        opacity: 0.2;
    }
    30% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.5;
    }
    60% {
        opacity: 0.6;
    }
    70% {
        opacity: 0.7;
    }
    80% {
        opacity: 0.8;
    }
    90% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}

.categoryTitle {
    font-size: 20px
}

.categoryDesc {
    font-size: 19px
}